.App {
  padding: 16px;
}

.block-grid {
  --block-size: 75px;

  display: grid;
  grid-template-columns: repeat(var(--grid-columns), var(--block-size));
  grid-template-rows: repeat(var(--grid-rows), var(--block-size));
  gap: 8px;
}

.blocks-row {
  display: contents;
}

.block {
  /* width: 50px; */
  /* height: 50px; */
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  image-rendering: pixelated;
  text-align: center;
}

.search-grid {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
}

.search-image {
  image-rendering: pixelated;
  width: 100%;
  display: block;
  height: auto;
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: top;
}

.block-name {
  opacity: 0;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(2px);
  line-height: 1;
  padding: 2px;
}

.block:hover .block-name {
  opacity: 1;
}

.block-select {
}

.block-config-row {
  display: flex;
  gap: 16px;
}

.block-select-option {
  display: flex;
  align-items: center;
}

.block-select-option-image {
  height: 1em;
  width: 1em;
  object-fit: cover;
  object-position: top;
  display: inline-block;
  padding-right: 0.5ch;
}

.block-config-grid {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 8px;
  margin-bottom: 16px;
  max-width: 900px;
}
